/* 
    Fonts 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400');

html, body{
    margin: 0;
    height: 100%;
    background: linear-gradient(180deg, #1E1E1E 0%, #000000 100%);
    border-radius: 8px;
    position: relative;
}

body {
    overflow: hidden;
}

#dashboards{
    width: 100%;
    height: calc(100% - 240px);
}

.led-box {
    position: absolute;
    bottom: 0;
    background-color: grey;
    padding-top: 2px;
    border-bottom-left-radius: 6px;
    padding-left: 3px;
    height: 26px;
    width: 100%;
  }
  
  .led-box p {
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: system-ui;
    float: left;
    position: absolute;
    bottom: 5px;
    right: 65px;
    margin: 0;
  }
  
  .led-red {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    animation: blinkRed 1.5s infinite;
  }
  
  @keyframes blinkRed {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;}
      to { background-color: #F00; }
  }

  .led-green {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  }

  .values{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 255px);
    height: 234px;

    padding: 0;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
  }

  .values td.table-value{
    color: lightgray;
  }

  #log-area{
    width: calc(100% - 3px);
    height: 114px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #1E1E1E;
    font-family: monospace;
    font-size: 16px;
    overflow-y: auto;
    user-select: none;
  }

  table {
    border-collapse: collapse;
    width: calc(100% - 1px);
    font-family: Orbitron !important;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  tr{
    background: linear-gradient(to right, #000000 0%, #333333 50%);
  }